{% load static %}

<!doctype html>
<html lang="ru" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>RET — Вход</title>

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script src="{% static 'js/java.js' %}"></script>
</head>
<body>
  <div class="wrap">
    <div class="brand" aria-label="ITGram">
      <span class="logo" aria-hidden="true"></span>
      <span class="brand__text">RET</span>
    </div>

    <section class="card" aria-label="Вход в аккаунт">
      <h1>Вход</h1>
      <p class="sub">Рады видеть тебя снова. Введи данные аккаунта, чтобы продолжить.</p>

      <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="field">
          <label for="username">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <p style="color: tomato;">{{ field.errors }}</p>
          {% endif %}
        </div>
        {% endfor %}

        <div class="row">
          <a class="link" href="#">Забыли пароль?</a>
        </div>

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p style="color: tomato;">
            {{ error }}
          </p>
          {% endfor %}
        {% endif %}
        
        <!-- Idle button -->
        <button class="btn" type="submit">Войти</button>
      </form>

      <div class="divider">или</div>

      <p class="foot">
        Нет аккаунта? <a class="link" href="{% url 'register_page' %}">Создать</a>
      </p>
    </section>
  </div>
</body>
</html>
